{% extends 'adminapp/base.html' %}

{% block title %} AdminApp - Anand Test case {% endblock %}

{% block content %}
<div class="row">
	<h2>
	This is the list of Orders Created
					</h2>
		<div class="col-sm-12">
		    {% if messages %}
				{% for message in messages %}
					<div class="notification is-success is-toast">{{ message }}</div>
				{% endfor %}
  		  {% endif %}
			<div class="card mb-0">
				<div class="card-header">
					<h4 class="card-title mb-0">.</h4>

				</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="datatable table table-stripped mb-0">
							<thead>
								<tr>
									<th>SL</th>
									<th>Product</th>
									<th>Order ID </th>
									<th>Quantity</th>
									<th>Price</th>
									<th>User</th>
									<th>Email</th>
									<th>Mobile </th>
									<th>Address</th>

								</tr>
							</thead>
							<tbody>
							{% for order in orders %}
								<tr>
									<td> {{forloop.counter}}  </td>
									<td> {{order.product}} </td>
									<td> {{order.order.orderid}} </td>
									<td> {{order.quantity}} </td>
									<td> {{order.price}} </td>
									<td>{{order.order.user}}</td>
									<td>{{order.order.email}}</td>
									<td>{{order.order.mobile}}</td>
									<td> {{order.order.address}}</td>

<!--									 <td>  <form method="get" action="/adminapp/order{{user.id}}/update">-->

<!--										 <button type="reset" class="btn btn-danger btn-sm">Edit </button>-->
<!--									 </form> </td>-->



								</tr>
							{% endfor %}
							</tbody>
						</table>
					  </div>
				  </div>
			  </div>
		  </div>
        </div>
{% endblock %}