<div class="column is-3 product-list-item">

     {% if messages %}
        {% for message in messages %}
            <div class="notification is-success is-toast">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="box">
        <figure class="image is-4by3 mb-4">
            <img src="{{ product.image.url }}">
        </figure>

        <h2 class="subtitle">{{ product.name }}</h2>
        <h4 class="price is-size-6 mb-5"> Stock: {{ product.inventory }} </h4>
        <h3 class="price is-size-6 mb-5">Rs{{ product.price }}</h3>

        <hr>

          <form method="post" action="/shop/{{product.slug}}">
             {% csrf_token %}
                <div class="control">
                    <a href="/shop/product/{{product.slug}}" class="button is-dark is-uppercase">View</a>
                    <input type="hidden" name="quantity" value="{{product.slug}}">
                    <button class="button is-info is-uppercase">Add to cart</button>
                </div>

          </form>
    </div>
</div>